{% extends 'mainLayout.twig' %}

{% block sidebar %}
    {% include 'parts/sidebar.twig' %}

{% endblock %}

{% block topbar %}
    {% include 'parts/topbar.twig' %}
{% endblock %}

{% block mainHeading %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Equipment</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Create Equipment</a>
    </div>

{% endblock %}
{% block mainContent %}

    {% include "equipment/parts/list.twig" %}

{% endblock %}